Source: ros-humble-fusioncore-datasets
Section: misc
Priority: optional
Maintainer: Manan Kharwar <manankharwar2001@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ros-workspace
Homepage: https://index.ros.org/p/fusioncore_datasets/#humble
Standards-Version: 3.9.2

Package: ros-humble-fusioncore-datasets
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-fusioncore-ros, ros-humble-geometry-msgs, ros-humble-nav-msgs, ros-humble-rclpy, ros-humble-robot-localization, ros-humble-rosgraph-msgs, ros-humble-sensor-msgs, ros-humble-ros-workspace
Description: NCLT dataset adapter and benchmark pipeline for FusionCore vs robot_localization
